<h1>Editing <%= @constituent.name %></h1>

<%= render "form", constituent: @constituent %>

<br>

<div>
  <%= link_to "Show this constituent", @constituent %> |
  <%= link_to "Back to constituents", constituents_path %>
</div>
